In [1]:
import pandas as pd
import numpy as np

In [3]:
# Cargar tablas desde archivos CSV generados por Mockaroo
clientes_df = pd.read_csv('clientes.csv')
ventas_df = pd.read_csv('ventas.csv')
persona_df = pd.read_csv('persona.csv')
metodo_pago_df = pd.read_csv('metodoPago.csv')
vehiculo_df = pd.read_csv('vehiculo.csv')
sucursal_df = pd.read_csv('sucursal.csv')
tiempo_df = pd.read_csv('tiempo.csv')

In [4]:
# Mostrar primeras filas de cada DataFrame
print("Clientes")
print(clientes_df.head())

print("Ventas")
print(ventas_df.head())

print("Persona")
print(persona_df.head())

print("MetodoPago")
print(metodo_pago_df.head())

print("Vehiculo")
print(vehiculo_df.head())

print("Sucursal")
print(sucursal_df.head())

print("Tiempo")
print(tiempo_df.head())

Clientes
   ID_Cliente  ID_Persona  ID_MetodoPago  Numero_total_alquileres  \
0           1           1              1                      437
1           2           2              2                      444
2           3           3              3                      152
3           4           4              4                      352
4           5           5              5                      566

   Gasto_total Ultima_fecha_alquiler  Duracion_promerio_alquiler
0      3901.69            18/01/2024                           4
1      9439.73            26/08/2024                          30
2      9769.99            05/06/2024                          26
3      6274.78            06/11/2023                           6
4      6522.91            17/08/2024                          17
Ventas
   ID_Venta  ID_Cliente  ID_Vehiculo  ID_Sucursal  ID_Tiempo  \
0         1           1            1            1          1
1         2           2            2            2          2
2         3           3            3            3          3
3         4           4            4            4          4
4         5           5            5            5          5

  Fecha_de_alquiler  Monto_de_alquiler  Duracion_de_alquiler
0        25/01/2024            9961.33                    25
1        23/12/2023             599.69                    29
2        07/05/2022            1157.02                    27
3        14/03/2022            2342.47                    17
4        30/08/2024            2787.65                    20
Persona
   ID_Persona               Nombre FechaNacimiento  \
0           1     Manuel Jodkowski      29/01/1998
1           2      Hilario Delaney      01/02/2000
2           3         Glen Pridham      22/07/1996
3           4  Evangelina Stedmond      18/02/1996
4           5       Shelby Teresse      26/05/1997

                         Email  Genero           Ciudad           Pais
0       mjodkowski0@census.gov    Male       Louisville  United States
1           hdelaney1@ox.ac.uk    Male  Shawnee Mission  United States
2        gpridham2@smugmug.com    Male  Shawnee Mission  United States
3        estedmond3@meetup.com  Female          Olympia  United States
4  steresse4@elegantthemes.com    Male          Madison  United States
MetodoPago
   ID_MetodoPago         TipoPago        NombreBanco FechaExpiracion
0              1              jcb      Kulas-Sanford         2027-05
1              2              jcb           Yost Inc         2028-02
2              3             visa     Greenholt-Wiza         2028-02
3              4  americanexpress            Toy LLC         2027-11
4              5          maestro  Jacobson and Sons         2026-06
Vehiculo
   ID_Vehiculo                                      Tipo_vehiculo      Marca  \
0            1          elementum eu interdum eu tincidunt in leo        GMC
1            2         euismod scelerisque quam turpis adipiscing        BMW
2            3  cubilia curae mauris viverra diam vitae quam s...    Lincoln
3            4           luctus et ultrices posuere cubilia curae   Chrysler
4            5            ac est lacinia nisi venenatis tristique  Chevrolet

                 Modelo   Año  Capacidad
0           Savana 1500  2012          1
1                   550  2006          5
2  Continental Mark VII  1986          6
3        Town & Country  2002          3
4        Silverado 3500  2002          5
Sucursal
   ID_Sucursal                             Nombre          Ciudad  \
0            1          Fox Factory Holding Corp.     Baton Rouge
1            2      KKR Income Opportunities Fund          Reston
2            3                           RELX PLC       Rochester
3            4  Tekla Healthcare Opportunies Fund    Indianapolis
4            5     Progenics Pharmaceuticals Inc.  Virginia Beach

            Pais  Capacidad_almacenamiento
0  United States                        47
1  United States                        40
2  United States                        47
3  United States                        22
4  United States                        35
Tiempo
   ID_Tiempo       Fecha  Mes   Año  Trimestre
0          1  12/02/2024   12  2022          4
1          2  07/10/2024   12  2023          3
2          3  07/03/2022    8  2023          3
3          4  12/12/2023    2  2020          3
4          5  08/04/2023   11  2022          2

In [5]:
# Eliminar duplicados
clientes_df.drop_duplicates(inplace=True)
ventas_df.drop_duplicates(inplace=True)
persona_df.drop_duplicates(inplace=True)
metodo_pago_df.drop_duplicates(inplace=True)
vehiculo_df.drop_duplicates(inplace=True)
sucursal_df.drop_duplicates(inplace=True)
tiempo_df.drop_duplicates(inplace=True)

In [6]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [9]:
# Convertir la columna 'Fecha_de_Alquiler' a tipo datetime, forzando los errores a NaT (Not a Time)
ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

C:\Users\Tony\AppData\Local\Temp\ipykernel_12336\1427709570.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  ventas_df['Fecha_de_alquiler'] = pd.to_datetime(ventas_df['Fecha_de_alquiler'], errors='coerce')

In [10]:
print("Ventas")
print(ventas_df.head())

Ventas
   ID_Venta  ID_Cliente  ID_Vehiculo  ID_Sucursal  ID_Tiempo  \
0         1           1            1            1          1
1         2           2            2            2          2
2         3           3            3            3          3
3         4           4            4            4          4
4         5           5            5            5          5

  Fecha_de_alquiler  Monto_de_alquiler  Duracion_de_alquiler
0        2024-01-25            9961.33                    25
1        2023-12-23             599.69                    29
2        2022-05-07            1157.02                    27
3        2022-03-14            2342.47                    17
4        2024-08-30            2787.65                    20

In [12]:
# Eliminar filas donde 'Fecha_de_Alquiler' sea NaT
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'].notna()]

In [13]:
# Eliminar filas donde la fecha de alquiler sea futura
ventas_df = ventas_df[ventas_df['Fecha_de_alquiler'] <= pd.Timestamp.now()]

In [15]:
# Eliminar filas con montos de alquiler o gastos totales negativos
ventas_df = ventas_df[ventas_df['Monto_de_alquiler'] >= 0]
clientes_df = clientes_df[clientes_df['Gasto_total'] >= 0]

In [16]:
# Formato consistente para fechas
clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')
tiempo_df['Fecha'] = pd.to_datetime(tiempo_df['Fecha'], errors='coerce')

C:\Users\Tony\AppData\Local\Temp\ipykernel_12336\3989680408.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  clientes_df['Ultima_fecha_alquiler'] = pd.to_datetime(clientes_df['Ultima_fecha_alquiler'], errors='coerce')
C:\Users\Tony\AppData\Local\Temp\ipykernel_12336\3989680408.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  persona_df['FechaNacimiento'] = pd.to_datetime(persona_df['FechaNacimiento'], errors='coerce')

In [17]:
# Verificar información general después de la limpieza
print(clientes_df.info())
print(ventas_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID_Cliente                  1000 non-null   int64
 1   ID_Persona                  1000 non-null   int64
 2   ID_MetodoPago               1000 non-null   int64
 3   Numero_total_alquileres     1000 non-null   int64
 4   Gasto_total                 1000 non-null   float64
 5   Ultima_fecha_alquiler       1000 non-null   datetime64[ns]
 6   Duracion_promerio_alquiler  1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 54.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID_Venta              1000 non-null   int64
 1   ID_Cliente            1000 non-null   int64
 2   ID_Vehiculo           1000 non-null   int64
 3   ID_Sucursal           1000 non-null   int64
 4   ID_Tiempo             1000 non-null   int64
 5   Fecha_de_alquiler     1000 non-null   datetime64[ns]
 6   Monto_de_alquiler     1000 non-null   float64
 7   Duracion_de_alquiler  1000 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(6)
memory usage: 62.6 KB
None

In [22]:
# Revisar si quedan valores nulos
print(clientes_df.isnull().sum())
print(ventas_df.isnull().sum())
print(persona_df.isnull().sum())
print(metodo_pago_df.isnull().sum())
print(vehiculo_df.isnull().sum())
print(sucursal_df.isnull().sum())
print(tiempo_df.isnull().sum())

ID_Cliente                    0
ID_Persona                    0
ID_MetodoPago                 0
Numero_total_alquileres       0
Gasto_total                   0
Ultima_fecha_alquiler         0
Duracion_promerio_alquiler    0
dtype: int64
ID_Venta                0
ID_Cliente              0
ID_Vehiculo             0
ID_Sucursal             0
ID_Tiempo               0
Fecha_de_alquiler       0
Monto_de_alquiler       0
Duracion_de_alquiler    0
dtype: int64
ID_Persona         0
Nombre             0
FechaNacimiento    0
Email              0
Genero             0
Ciudad             0
Pais               0
dtype: int64
ID_MetodoPago      0
TipoPago           0
NombreBanco        0
FechaExpiracion    0
dtype: int64
ID_Vehiculo      0
Tipo_vehiculo    0
Marca            0
Modelo           0
Año              0
Capacidad        0
dtype: int64
ID_Sucursal                 0
Nombre                      0
Ciudad                      0
Pais                        0
Capacidad_almacenamiento    0
dtype: int64
ID_Tiempo    0
Fecha        0
Mes          0
Año          0
Trimestre    0
dtype: int64

In [20]:
# Eliminar filas con valores nulos
clientes_df.dropna(inplace=True)
ventas_df.dropna(inplace=True)
persona_df.dropna(inplace=True)
metodo_pago_df.dropna(inplace=True)
vehiculo_df.dropna(inplace=True)
sucursal_df.dropna(inplace=True)
tiempo_df.dropna(inplace=True)

In [23]:
# Guardar los datos limpios en nuevos archivos CSV
clientes_df.to_csv('Clientes_Limpios.csv', index=False)
ventas_df.to_csv('Ventas_Limpios.csv', index=False)
persona_df.to_csv('Persona_Limpios.csv', index=False)
metodo_pago_df.to_csv('MetodoPago_Limpios.csv', index=False)
vehiculo_df.to_csv('Vehiculo_Limpios.csv', index=False)
sucursal_df.to_csv('Sucursal_Limpios.csv', index=False)
tiempo_df.to_csv('Tiempo_Limpios.csv', index=False)

In [24]:
ventas_por_sucursal = ventas_df.groupby('ID_Sucursal')['Monto_de_alquiler'].sum().reset_index()
print(ventas_por_sucursal)

     ID_Sucursal  Monto_de_alquiler
0              1            9961.33
1              2             599.69
2              3            1157.02
3              4            2342.47
4              5            2787.65
..           ...                ...
995          996            9477.88
996          997             986.01
997          998            7075.03
998          999            7888.02
999         1000            8947.42

[1000 rows x 2 columns]